*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
}
header{
    position: fixed;
    z-index: 1;
}

#h1especial{
    font-size: 60px;
    color: white;
    text-align: center;
}
#pespecial{
    color: white;
    font-size: 30px;
    text-align: center;
}
.pbutton{
    font-size: 20px;
    color: white;
}
img{
    position: absolute;
    top: 10px;
    left: 30px;
}
#section1{
    background-image: url(img/backgroundsection1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
   
}
#div1{
    position: absolute;
    top: 400px;
    left: 420px;
}

#assinaturab{
    margin-top: 60px;
    margin-left: 305px;
    background-color: #e50914;
    padding: 10px 17px;
    border-radius: 5px;
    border: 0ch;
}
#sectionp{
    height: 100vh;
    position: absolute;
    top: 900px;
}
#container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-auto-rows: 300px;
    gap: 5px 25px;
    background-color: transparent;
    padding: 20px 10px;
    width: 1100px;
    left: 230px;
}
.box{
    background-color: transparent;
    text-align: center;
    padding: 20px 20px;
    border: solid 2PX;
    border-color: rgba(255, 0, 0, 0.23);
    border-radius: 20px
}
.h1box{
 color: white;
}
.h2box{
 color: white;
}
.pbox{
    font-size: 18px;
    opacity: 0.6;
    color: white;
    padding: 10px;
}
.imgbox{
    position: unset;
    padding-bottom: 10px;
}
.assinaturab2{
    margin-top: 15px;
    background-color: red;
    padding: 10px 17px;
    border-radius: 5px;
}
#entrarb{
    background-color: #e50914;
    padding: 10px 17px;
    border-radius: 5px;
    border: 0ch;
    position: absolute;
    top: 15px;
    left: 1480px;
}
#section2{
    height: 100vh;
    position: absolute;
    top: 1400px;
    height: 600px;
    width: 1583px;
}
#div2{
    position: absolute;
    top: 230px;
    left: 800px;
    height: 60px;
    width: 600px;
}
.p-principal{
    color: white;
    font-size: 30px;

}
.h1-principal{
    color: white;
    font-size: 55px ;
}
video{
    padding-top:50px ;
    padding-left:30px;
}
#assinaturab:hover{
    background-color: black;
    color: black;
}
#entrarb:hover{
    background-color: black;
    color: black;
}
#div3{
    position: absolute;
    top: 200px;
    left: 100px;
    height: 60px;
    width: 600px;
}
#section3{
    position: absolute;
    top: 1900px;
    height: 600px;
    width: 1583px;
}
#imgkids{
    position: absolute;
    left: 800px;
}
.buttonduvidas{
    border: 0;
    margin-bottom: 7px;
    position: relative;
    width: 750px;
    height: 70px;
    background-color: #303030;
    text-align: left;
    padding-left: 10px ;
}
#section4{
    position: absolute;
    top: 2500px;
    left: 380px;
    height: 600px;
}
#div4{
    display:flex ;
    flex-direction: column;
    text-align: center;
}